<!DOCTYPE html>
<html lang="en-US">

<body>
  <center>
    <h2>STOCKMASTER360</h2>
    <div id="piechart"></div>
    <div id="linechart"></div>
    <form action="/search" method="post">
      Stock Ticker:
      <input type="text" name="ticker">
      <input type="submit" value="Search">
    </form>
    <ul id="messages"></ul>
    <form action="" id="chat">
      <input id="m" autocomplete="off" />
      <button>Send</button>
    </form>
  </center>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script type="text/javascript">
    $(function () {
      var socket = io();
      $('#chat').submit(function () {
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function (msg) {
        $('#messages').append($('<li>').text(msg));
      });
    });
    // Load google charts
    google.charts.load('current', {
      'packages': ['corechart']
    });
    google.charts.setOnLoadCallback(drawLineChart);

    function drawLineChart() {
        var stockData = <%- JSON.stringify(stockData["Time Series (Daily)"])%>;
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'Open');
        data.addColumn('number', 'High');
        data.addColumn('number', 'Low');
        data.addColumn('number', 'Close');
        data.addRows(Object.keys(stockData).length+1);
        var row = 0;
        for(var date in stockData){
            var col = 1;
            data.setCell(row, 0, date);
            for(var val in stockData[date]){
                if(col < 5){
                    data.setCell(row, col, stockData[date][val]);
                    col++;
                }
            }
            row++;
        }

        var options = {
        hAxis: {
          title: 'Date'
        },
        vAxis: {
          title: 'Price'
        },
        'width': 1000,
        'height': 1000
      };
      var chart = new google.visualization.LineChart(document.getElementById('linechart'));
      chart.draw(data, options);
    }
  </script>

</body>

</html>
