<!DOCTYPE html>
<html lang="en-US">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <center>
    <h2>STOCKMASTER360</h2>
  </center> 
  <div style="width:100%">
    <div style="width:70%;padding:1px;float:left">
      <form action="/search" method="post">
        Stock Ticker:
        <input type="text" name="ticker">
        <input type="submit" value="Search">
      </form>
      <% if(errMsg != "none"){ %>
        <div class="alert alert-danger">
          <strong><%=errMsg%></strong>
        </div>
      <% } %>
      
      <div id="table_div"></div><br>
      <div><b>
          To zoom in on line graph: drag cursor over desired area 
          <br>
          To zoom out of line graph to default: right click
          </b>
      </div>
      <div id="linechart"></div>
    </div>
    <h1>Messaging side</h1>
    <div style="width:29%;padding:1px;float:right">
      <ul id="messages" style="list-style-type: none;"></ul>
      <form action="" id="chat">
        <input id="m" autocomplete="off" />
        <button>Send</button>
      </form>
    </div>
  </div>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script type="text/javascript">
    $(function () {
      var socket = io();
      $('#chat').submit(function () {
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function (msg) {
        $('#messages').append($('<li style="border-style: solid; padding:5px;margin:5px">').text(msg));
      });
    });
    // Load google charts
    google.charts.load('current', {
      'packages': ['corechart','table']
    });
    google.charts.setOnLoadCallback(drawCharts);
    function drawCharts() {
        var stockData = <%- JSON.stringify(stockData["Time Series (Daily)"])%>;
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Open');
        data.addColumn('number', 'High');
        data.addColumn('number', 'Low');
        data.addColumn('number', 'Close');
        var keys = Object.keys(stockData).reverse();
        data.addRows(keys.length+1);
        for(var row=0; row < keys.length; row++)
        {
            var col = 1;
            data.setCell(row, 0, new Date(keys[row]));
            for(var val in stockData[keys[row]]){
                if(col < 5){
                    data.setCell(row, col, stockData[keys[row]][val]);
                    col++;
                }
            }

        }
        var lineChartOptions = {
            title: "Daily time series of " + <%- JSON.stringify(ticker)%>,
            hAxis: {
            title: 'Date'
            },
            vAxis: {
            title: 'Price'
            },
            'width': '80%',
            'height': 500,
            curveType: 'function',
            explorer: { actions: ['dragToZoom', 'rightClickToReset'], axis: 'horizontal',maxZoomIn: .1}
        };

        var lineChart = new google.visualization.LineChart(document.getElementById('linechart'));
        lineChart.draw(data, lineChartOptions);

        var table = new google.visualization.Table(document.getElementById('table_div'));
        table.draw(data, {'pageSize': 10, showRowNumber: false, width: '80%', height: '80%'});
       
    }
  </script>

</body>

</html>
